.Box{
    border: 2px dotted red;
    height: 200px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: blueviolet ; /*!important*/;
}

#div1{
    background-color: bisque;
}